
.about-container {
    text-align: center;
    margin-bottom: 50px;
}
    .about-container img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: auto;
      margin-top: 50px;
      border: 5px solid #607D8B;
      margin-bottom: 30px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
.about {
    width: 70%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

.about-social {
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
    .about-social a {
        margin: 0 20px;
        text-decoration: none;
        font-weight: bold;
        color: #000;
    }

@media screen and (max-width: 500px) {
    .about-container img {
        width: 70%;
        height: auto;
    }
    .about {
        font-size: 16px;
    }
}
