

html {
  font-family: 'Lato', sans-serif;
}

html,
body,
#index {
  margin: 0;
}


h1, h2, h3, h4, h5, p {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.pull-right {
  float: right;
}

.header {
  text-align: center;
  padding: 70px 0;
}
  .header h1 {
    font-size: 5em;
  }
  .header a {
    text-decoration: none;
    color: #607D8B;
    font-weight: bold;
  }

.header-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  color: white;
  display: none;
  z-index: 999;
  background-color: #607D8B;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.geopanos {
  width: 70%;
  max-width: 860px;
  margin: auto;
}
  .geopanos .geopano {
    width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 19px 58px rgba(0,0,0,0.10), 0 5px 12px rgba(0,0,0,0.22);
  }
    .geopanos .geopano .geopano-header {
      padding: 15px;
      color: #424242;
    }
    .geopanos .geopano .geopano-body {
      height: 100%;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
      .geopanos .geopano .geopano-body iframe {
        width: 100%;
        height: 333px;
        display: flex;
        margin-top: -333px;
        position: relative;
      }
  .geopanos .geopano-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
  }
    .geopanos .geopano-mobile .geopano-mobile-header {
      width: 100%;
      position: fixed;
      color: #fff;
      display: inline-block;
      background-color: #607D8B;
      padding: 10px 0;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
      .geopanos .geopano-mobile .geopano-mobile-header .geopano-header-left {
        width: calc(70% - 10px);
        padding-left: 10px;
        vertical-align: top;
        display: inline-block;
      }
        .geopanos .geopano-mobile .geopano-mobile-header .geopano-header-left label {
          display: block;
          font-size: 0.9em;
        }
      .geopanos .geopano-mobile .geopano-mobile-header .geopano-header-right {
        display: inline-block;
        width: calc(30% - 10px);
        vertical-align: top;
        text-align: right;
      }
    .geopanos .geopano-mobile .geopano-mobile-body {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
      .geopanos .geopano-mobile .geopano-mobile-body iframe {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    .geopanos .geopano-mobile .geopano-mobile-footer {
      top: 50%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      padding: 10px;
      box-sizing: border-box;
    }
      .geopanos .geopano-mobile .geopano-mobile-footer img {
        width: 50px;
        height: 50px;
        padding: 3px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #607D8B;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
      .geopanos .geopano-mobile .geopano-mobile-footer img:hover {
        opacity: 0.9;
      }


/******************************************************************************/
/******************************************************************************/
/******************************************************************************/

@media screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }
  .header-scrolled {
    display: none;
  }
  .geopanos .geopano-mobile {
    display: inline-block;
  }
  .redux-infinite-scroll {
    visibility: hidden;
  }
}
