html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, p {
  margin: 0;
}

.background {
  width: 100%;
  height: 100%;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  background-color: black;
}
.content {
  display: none;
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  -webkit-transition: margin-top 0.3s ease-out;
  -ms-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
  p {
    display: none;
    margin-bottom: 40px;
  }
  .icon {
    margin: 10px;
    display: none;
    &.github {
      color: #333;
    }
    &.twitter {
      color: #1da1f2;
    }
    &.instagram {
      color: #fcaf45;
    }
  }
}

#geopanos {

  padding: 50px 0;
  background-color: #F5F5F5;
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: repeat-x;

  .geopano-block {
    width: 70%;
    display: inherit;
    margin: auto;
    border-radius: 2px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .geopano-block-header {
      padding: 15px;
      h1, h5 {
        margin: 0;
      }
    }
    .geopano-block-content {
      .geopano {
        width: 100%;
        height: 400px;
      }
    }
  }
}
