html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif; }

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

.background {
  width: 100%;
  height: 100%;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  background-color: black; }

.content {
  display: none;
  font-size: 3em;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  -webkit-transition: margin-top 0.3s ease-out;
  -ms-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out; }
  .content p {
    display: none;
    margin-bottom: 40px; }
  .content .icon {
    margin: 10px;
    display: none; }
    .content .icon.github {
      color: #333; }
    .content .icon.twitter {
      color: #1da1f2; }
    .content .icon.instagram {
      color: #fcaf45; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  display: none;
  padding: 15px 20px;
  background-color: #00695C;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#geopanos {
  padding: 50px 0;
  background-color: #F5F5F5; }
  #geopanos .geopanos-header {
    text-align: center;
    margin-bottom: 50px; }
    #geopanos .geopanos-header h1 {
      font-size: 5em; }
  #geopanos .geopano {
    width: 80%;
    display: inherit;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    #geopanos .geopano .geopano-header {
      padding: 15px; }
      #geopanos .geopano .geopano-header h3, #geopanos .geopano .geopano-header p {
        margin: 0; }
      #geopanos .geopano .geopano-header p {
        font-size: 0.8em; }
    #geopanos .geopano .geopano-content .geopano {
      width: 100%;
      height: 400px; }
